<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="CSS/style.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400" rel="stylesheet">
    
    
    <title>Razer</title>
</head>
<header>
<section class="bar">
    <div class="area">
    <div class="logo">
        <img src="img/logo.png" width="25%" alt="">
    </div>
    <div class="menu">
        <a class="Dr" href="#">Drivers</a>
        <a class="Pr" href="#">Productos</a>
        <a class="Fo" href="#">Foro</a>

       
    </div>
    <div class="buscar">
        <img class="imgB" src="img/lupa.png" width="5%" alt="">
        
    </div>
    <div class="car">
        <img class="imgCa" src="img/car.png" width="25%" height="25" alt="">
    <h2 class="textoC">Carrito: <span class="carrito">0</span></h2>
    </div>
    </div>
</section>
</header>
<body>
    <section class="pagina">
    

    <div class="filtros">
    <div class="precio">
            <h3 class="titleSort">Precio</h3>
            <a class="f" href="/?precio=0&precio=100"><h2>0 - 100</h2></a>
            <a class="f" href="/?precio=100&precio=200"><h2> 100 - 200</h2></a>
            <a class="f" href="/?precio=200&precio=300"><h2>200 - 300</h2></a>
        </div>

     <div class="tipo">
            <h3 class="titleSort">Tipo</h3>
            <a href="/?tipo=Mouse"><h2>Mouse</h2></a>
            <a href="/?tipo=Teclado"><h2>Teclado</h2></a>
            
        </div>

        <div class="colors">

            <h3 class="color">Color</h3>

            <a href="/?color=Negro">
                <div  class="Negro">
                    <h2 class="nbr">N</h2>
                </div>
            </a>
            <a href="/?color=Verde">
                <div  class="Verde">
                    <h2 class="nbr1">V</h2>
                </div>
            </a>
            <a href="/?color=Rosa">
                <div  class="Rosa">
                    <h2 class="nbr2">R</h2>
                </div>
            </a>
            <a href="/?color=Blanco">
                <div  class="Blanco">
                    <h2 class="nbr3">B</h2>
                </div>
            </a>
            <a href="/?color=Gris">
                <div  class="Gris">
                    <h2 class="nbr4">G</h2>
                </div>
            </a>
            
            
            </div>
            </div>
            <div class="sectionProducto">
    <div class="productosContainer">
       
    {{#each razerproductos}}
    <div class="algo" data-id="{{this._id}}">
    <div class="productoContainer">

        <div class="producto" >
            <a href="/razerproductos/{{nombre}}">
                <img src="{{imagen}}" alt="{{tipo}}">
            </a>
            
            <h2 class="precio">${{precio}}</h2>
            <button class="agregar">Agregar</button>
        </div>    
        
    </div>
    </div>
    {{/each}}

    </div>
    </div>
    </section>
    <script src="js/cliente.js"></script>
    <script src="js/productosC.js"></script>
</body>
</html>