<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/CSS/style.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400" rel="stylesheet">
    
    
    <title>Razer</title>
</head>
<header>
<section class="bar">
    <div class="area">
    <div class="logo">
        <img src="img/logo.png" width="25%" alt="">
    </div>
    <div class="menu">
        <a class="Dr" href="#">Drivers</a>
        <a class="Pr" href="#">Productos</a>
        <a class="Fo" href="#">Foro</a>

       
    </div>
    <div class="buscar">
        <img class="imgB" src="img/lupa.png" width="5%" alt="">
    </div>
    </div>
</section>
</header>
<body>
    <h2>Carrito: <span class="carrito">0</span></h2>
    <div class="sortby priceSort">
            <h3 class="titleSort">Price</h3>
            <a href="/?precio=9.95&precio=150.99"><h2>9.95 - 150.99</h2></a>
            <a href="/?precio=19.95&precio=29.95"><h2>19.95 - 29.95</h2></a>
            <a href="/?precio=29.95&precio=4999"><h2>29.95...+</h2></a>
        </div>

     <div class="sortby sideSort">
            <h3 class="titleSort">tipo</h3>
            <a href="/?tipo=Mouse"><h2>Mouse</h2></a>
            <a href="/?tipo=Teclado"><h2>Teclado</h2></a>
            <a href="/?tipo=Otro"><h2>Otro</h2></a>
        </div>

        <div class="colors">



            <a href="/?color=Chroma">
                <div  class="selectorColor gris">
                    <h2>Chroma</h2>
                </div>
            </a>
            <a href="/?color=verde">
                <div  class="selectorColor verde">
                    <h2>verde</h2>
                </div>
            </a>
            <a href="/?color=Chroma">
                <div  class="selectorColor azul">
                    <h2>Chroma</h2>
                </div>
            </a>
            
            </a>
            </div>
            
    <div class="productosContainer">
       
    {{#each razerproductos}}
    <div style="flex: 1 1 40%"
                data-id="{{this._id}}">
    <div class="productoContainer">

        <div class="producto" color="{{Color}}" >
            <a href="/razerproductos/{{nombre}}">
                <img src="{{imagen}}" alt="{{nombre}}">
            </a><button> &#9951; ${{Precio}}</button>
        </div>    
        <button class="agregar">Agregar</button>
    </div>
    </div>
    {{/each}}

    </div>
    <script src="js/cliente.js"></script>
    <script src="js/productosC.js"></script>
</body>
</html>