<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/CSS/producto_vis.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400" rel="stylesheet">
    
    
    <title>{{productoR.nombre}}</title>
</head>
<header>
<section class="bar">
    <div class="area">
    <div class="logo">
        <img src="/img/logo.png" width="25%" alt="">
    </div>
    <div class="menu">
        <a class="Dr" href="#">Drivers</a>
        <a class="Pr" href="#">Productos</a>
        <a class="Fo" href="#">Foro</a>

       
    </div>
    <div class="buscar">
        <img class="imgB" src="/img/lupa.png" width="5%" alt="">
    </div>
    </div>
</section>
</header>

<body>
    <div class="verProducto">
        
        <img src="{{productoR.imagen}}" alt="">
   
<h1>{{fidget.name}}</h1>
            <p><b>Precio:</b>&nbsp;${{productoR.precio}}</p>
            <p><b>Nombre:</b>&nbsp;{{productoR.nombre}}</p>
            <p><b>Color:</b>&nbsp;{{productoR.color}}</p>
            <p><b>Tipo:</b>&nbsp;{{productoR.tipo}}</p>
</br>
            
            <p>{{productoR.descripcion}}</p>
            
 </div>

</body>

</html>